.container {
  font-size: 12px;

  .label {
    padding: 3px 0;
    width: 110px;
    flex: none;
    text-align: left;
    user-select: none;
    &.short {
      border-bottom: 2px solid #D66067;
      cursor: pointer;
    }
    &.long {
      border-bottom: 2px solid #71BB82;
      cursor: pointer;
    }
  }

  .inputGroup {
    > * {
      font-size: 12px;
      padding: 0.5em;
      height: 3em;
    }
    > input {
      text-align: right;
    }

    .entryPrice {
      width: 6em;
    }
  }
}
